SLACK_BOT_TOKEN=xoxb-...
SLACK_APP_TOKEN=xapp-...
SLACK_CHANNEL=C0...
USER_SLACK_ID=U0...
BOT_USER_ID=U0...
USER_NAME=사용자
SLACK_BOT_NAME=제미나이 비서
NOTION_API_TOKEN=ntn_...
NOTION_SESSION_DB=...
NOTION_DAILY_DB=...
